/* Reset Styles */
html, body, header, main, article, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* Body Styles */
body {
    background-image: url('movingpic.gif');
    background-position: center;
    background-size: cover;
    font-family: 'Minion', sans-serif; 
    background-color: #f2f2f2;
    color: #000000;
    margin: 0; /* Reset margin for the body */
    padding: 0; /* Reset padding for the body */
}

/* Header Styles */
header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Main Styles */
main {
    padding: 20px;
}

/* Article Styles */
article {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Heading Styles */
h1, h2 {
    font-family: 'Minion', sans-serif; 
    text-align: center;
}

/* Lyrics Styles */
.lyrics {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

/* Footer Styles */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#A1 {
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#A2 {
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#B1 {
    color: burlywood;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
}
#B2 {
    color: burlywood;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
}
#C1 {
    color: gold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
#C2 {
    color: gold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
#C3 {
    color: gold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
#D1 {
    color: rgb(255, 217, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    font: bold;
}
#D2 {
    color: rgb(255, 217, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    font: bold;
}
#D3 {
    color: rgb(255, 217, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    font: bold;
}